{% load static %}
<div class="border-end border-warning h-100 p-1">
    <div class="text-center">
        <img src="{% static 'core/images/my.jpg' %}" alt="" class="img-fluid rounded mt-3" width="100px" height="100px">
        <h3 class="name mt-2" style="color: #DDC3A5;">Shraddha Bajpai</h3>
    </div>
    <hr class="border-bottom border-warning ">
    <nav class="nav flex-column text-center">
        <a href="/" class="nav-link" style="color: #DDC3A5;">Home</a>
        <a href="/serv/services" class="nav-link"  style="color: #DDC3A5;background-color: black;">Projects</a>
        <a href="/edu/skill" class="nav-link"  style="color: #DDC3A5;">Skills</a>
        <a href="/contact/" class="nav-link"  style="color: #DDC3A5; background-color: black;">Contact</a>
         

     </nav>
</div>
