{% extends 'core/base.html' %}

{% block content %}
    <div  class="contianer mt-3">

        <h1 class=" mb-2 border-bottom" style="color: #DDC3A5;" >Projects</h1>
        <div class="row text-center mb-5" style="color:#E0A96D;">
            <div class="col-sm-4">
                <i class="fa-solid fa-graduation-cap fa-7x mb-3 mt-4 i-colo"></i>
                <h3>COLLEGE TRACKER</h3>
                <p class="ss-color">Django,HTML,CSS,JS,Mysql,Web scrapping</p>
                <a href="https://github.com/shraddha882/college-tracker.git" class="btn btn-outline my-3 mr-2 ss-btn" >Code</a>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-clipboard-user fa-7x mb-3 mt-4 i-colo"></i>
                <h3>BIOMETRIC ATT.SYSTEM</h3>
                <p class="ss-color">Python,Tkinter,OpenCv,Pillow,Image processing</p>
                <a href="https://github.com/shraddha882/Biometric-attendance-system.git" class="btn btn-outline my-3 mr-2 ss-btn">Code</a>
            </div>
            <div class="col-sm-4">
                <i class="fa-regular fa-rectangle-list fa-7x mb-3 mt-4 i-colo"></i>
              
                <h3>TASKMAN-TODO</h3>
                <p class="ss-color">Django,HTML,CSS,JS,Mysql,Bootsrap,Djano-authentication</p>
                <a href="https://github.com/shraddha882/TODO-APP.git" class="btn btn-outline my-3 mr-2 ss-btn" >Code</a>
            </div>
        </div>

        <div class="row text-center mb-5" style="color:#E0A96D;">
            <div class="col-sm-4">
                <i class="fa-solid fa-database fa-7x mb-3 mt-4 i-colo"></i>
                <h3>ZOMATO REVIEW ANALYSIS</h3>
                <p class="ss-color">Python,Pandas,Numpy,PowerBi</p>
                <a href="" class="btn btn-outline my-3 mr-2 ss-btn" >Code</a>
            </div>

             
            
        </div>
    </div>


    
{% endblock content %}
    